.header{
  height: 130px;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo{
  width: 100px;
  object-fit: contain;
  margin: 18px  20px 0px;
}

.header__search{
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchInput{
  height: 13px;
  padding: 8px;
  border: none;
  width: 100%;
}

.header__searchIcon{
  background-color: #cd9042;
  height: 22px !important;
  padding: 4px 8px;
}

.header__icons{
  display: flex;
  justify-content: space-between;
}

.header__option{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}

.header__optionBasket{
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.header__basketIcon{
  font-size: 20px;
}

.header__basketCount{
  margin-left: 10px;
  margin-right: 10px;
}

.header__option2{
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .header{
    height: 60px;
    display: flex;
  }
}
