.checkoutProduct{
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 20px;
}

.checkoutProduct__image{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}

.checkoutProduct__button{
  background-color: #f0c14b;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}